
.container {
          width: 1280px;

          max-width: 100%;
}
          
.table-wrapper {
          display: flex;
          justify-content: center;
          flex-direction: column;

          overflow-x: auto;
}

.table-wrapper::-webkit-scrollbar {
          display: none;
}


.sch-details {
          text-align: center;

          margin: 20px 0;
}

div > span:first-child {
          font-weight: bold;
          margin-right: 5px;
}

td {
          padding: 15px 30px; 
}

@media (max-width: 500px) {
          .table-wrapper {
                    width: 100%;
          }
}